<html>
<head>
  <title>Authentication Server</title>
</head>
<body>
<%- include('header', {user: user}); %>  
Welcome.
<p>Snoopy is the bestest boy. Chocolate Lab of the Millenium.</p>
</body>
</html>

